downloader/cache.cfg
Order_Report.csv
.ssh/
.bash_history
/sitemap/sitemap.xml
/var/*
/media/
feeds/*
*.sql
*.zip
*.gz
magmi/
test.php
OrderDetails.csv
downloader/
/skin/frontend/smartwave/porto/css/configed/*
robots.txt
/app/code/core
/lib
/dev
/includes
/errors