downloader/cache.cfg
Order_Report.csv
.ssh/
.bash_history
/sitemap/sitemap.xml
/var/*
/media/
feeds/*
*.sql
*.zip
*.gz
magmi/
/*
test.php
app/etc/local.xml
app/etc/modules/Cm_RedisSession.xml
OrderDetails.csv
downloader/
/skin/frontend/smartwave/porto/css/configed/*
robots.txt
